<!DOCTYPE html>
<html>
  <head>

    <!-- <title>The Daily Trumpening</title> -->
    <title>POTUS News and Events | The Daily Trumpening</title>
    <meta charset="utf-8">
    <meta name="description" content="Get updated Trump news that is non-biased, non-duplicated, and easy to consume. Updated as events happen, and kept minimal for your ease of use.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/stylesheets/index.css">
    <script src="https://use.fontawesome.com/e3d14084a4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="./assets/js/vendor/moment.min.js"></script>
    <script src="./assets/js/vendor/vue.min.js"></script>
    <script type="text/javascript" src="./assets/js/vendor/daterangepicker.js"></script>
    <script src="./assets/js/app.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./assets/stylesheets/vendor/daterangepicker.css" />
    <script type="text/javascript" src="./assets/javascript/tab_changer.js">
    </script>
  </head>
  <body>
    <div class="jumbotron u-bgColor--blue-dark u-margin--none">
      <div class="container u-textAlign--center" style="position: relative;">
        <h1 class="c-header u-textColor--grey">
          Daily
          <span class="c-header--haired">
            Trumpening
          </span>
          <span class="u-textColor--blue-twitter u-visibility--hidden u-position--absolute u-opacity--none u-left--none u-screenReaderHelpText">
            Political news and current events surrounding POTUS (President of the United States) Donald Trump (potus and realdonaldtrump on Twitter).
            Articles, tweets, live broadcasts, and footage regarding the happenings of the Trump Republican administration from 2017
            and on, updated as events happen and catagorized daily.
          </span>
        </h1>
        <a href="https://twitter.com/dailytrumpening" target="_blank" class="btn c-btn--lg c-btn--circle c-socialBtn--twitter u-textColor--white" style="position: absolute;">
          <i class="fa fa-twitter c-btn__icon"></i>
        </a>
      </div>
    </div>
    <div id="app">
        <nav class="navbar navbar-default">
          <div class="container-fluid form-inline pnl-filters" v-cloak>
              <div class="form-group">
                  <label for="sort" class="form-label">Showing</label>
                  <select class="form-control" name="sort" v-model="sortOrder" @change="sortItems">
                      <option value="asc">Earliest</option>
                      <option value="desc">Latest</option>
                  </select>
              </div>
              <div class="form-group">
                  <label class="form-label">&nbsp;from</label>
                  <select name="filter" class="form-control" @change="applyFilter()" v-model="selectedFilter">
                      <option v-for="filter in filters" v-bind:value="filter.period">{{ filter.title }}</option>
                  </select>
              </div>
              <div class="form-group" v-show="selectedFilter == 'custom'">
                  <input class="form-control" type="text" name="daterange" id="daterange"/>
              </div>
          </div>
        </nav>

        <div id="content" class="editable container-fluid u-paddingV--lg u-bgColor--grey-xlight" v-cloak>
          <div class="app-container app-container--md app-container--center app-container--shadowed">
              <div v-for="day in filteredEvents">
                <day v-bind:date="day.date" v-bind:items="day.items"></day>
              </div>
              <div v-if="filteredEventCount == 0" class="alert alert-warning">Nothing yet...but don't worry, there's always more and it's always worse.</div>
          </div>
        </div>
    </div>
  </body>
</html>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-90868116-1', 'auto');
ga('send', 'pageview');
</script>
