.c-btn--circle {
  border-radius: 50%;
}

.c-btn--sm {
  height: 25px;
  width: 25px;
  font-size: 12px;
}

.c-btn--lg {
  height: 55px;
  width: 55px;
  font-size: 25px;
}

.c-btn__icon {
  vertical-align: middle;
}

.c-headerBtnGroup {
  position: absolute;
  bottom: -45px;
  right: 10vw;
  z-index: 999999999999;
}

.c-socialBtn {
  color: palette(white);
  background: transparent;
  border: 0;
  box-sizing: border-box;
  display: inline-block;

  &:focus {
    outline: none !important;
  }

  &:hover {
    color: palette(white) !important;
    text-decoration: none !important;

    .c-socialBtn__icon {
      transition: .4s ease all;
      transform: translateX(125px) rotate(360deg);
    }
    .c-socialBtn__text {
      transition: .4s ease all;
      opacity: 1;
      margin-right: 0;
    }
  }
}

  .c-socialBtn__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .c-socialBtn__icon {
    padding: 10px;
    font-size: 26px !important;
    background: palette(blue, twitter);
    border-radius: 50%;
    position: absolute;
    left: 0;
    transition: .4s ease all;
    border: 1px solid palette(white);
  }

  .c-socialBtn__text {
    transition: .4s ease all;
    margin-right: -50px;
    opacity: 0;
  }


@media screen and (max-width: 768px) {
  .c-headerBtnGroup {
    bottom: -33px;
    left: 10vw !important;
    right: initial;
  }
}
