.navbar-default{
    text-align: center;

    .navbar-nav{
        display: inline-block;
        margin: 0 auto;
        float: none;

        a.active{
            font-weight: bold;
            color: #000;
        }
    }
}
